---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import subjects from "../../../data/subjects.json";
import { getCollection } from "astro:content";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const questionEntries = await getCollection("questions");
  const questionEntriesWithSubjects = questionEntries.map((question) => {
    const subject = subjects.find(
      (subject) => subject.slug === question.data.subject_slug
    );
    return { ...question, subject };
  });

  return questionEntriesWithSubjects.map((question) => ({
    params: { slug: question.subject!.slug },
    props: { question },
  }));
}

const { question } = Astro.props;

const questionEntries = await getCollection("questions");
const questionOfThisSubject = questionEntries.filter(
  (q) => q.data.subject_slug === question.data.subject_slug
);
---

<Layout title="Questions">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{question.subject.title}</Fragment>
      <Fragment slot="desc">Old Questions</Fragment>
    </Sectionhead>
    <main class="conatiner mx-auto mt-16">
      <ul class="flex flex-col gap-5 pl-5 mt-2 space-y-1 list-disc list-inside">
        {
          questionOfThisSubject.map((year, index) => (
            <li>
              <a
                href={`/questions/${year.slug}`}
                class="text-purple-800 font-bold hover:text-purple-500">
                Question Paper {year.data.year}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="grid grid-cols-1 lg:grid-cols-2">
        {
          questionOfThisSubject.map((year, index) => (
            <a
              class="relative flex items-start border-l-4 border-purple-600 justify-between rounded-xl p-4 m-4 shadow-lg hover:shadow-xl sm:p-6 lg:p-8"
              href={`/questions/${year.slug}`}>
              <div class="flex py-4 text-gray-500 gap-5">
                <h1 class="text-xl font-bold text-gray-900">{index + 1} .</h1>
                <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                  Question Paper {year.data.year}
                </h3>
              </div>
            </a>
          ))
        }
      </div>
    </main>
  </Container>
</Layout>
