---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const gitBranch: string = process.env.NODE_ENV === "production" ? "master" : "dev";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const pageEntries = await getCollection("pages", ({ data }) => {
    return !data.draft;
  });
  return pageEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const page = entry.data;
const { Content } = await entry.render();
---

<Layout title={page.title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{page.title}</Fragment>
      <Fragment slot="desc">{page.description}</Fragment>
    </Sectionhead>
    <div class="mt-16">
      <main class="container mx-auto max-w-4xl prose">
        <Content />
        <hr />
        <p>Find any bugs or want to contribute? Help us improve this page.</p>
        <a
          href={`https://github.com/bsccsitnepal/bsccsitnepal/edit/${gitBranch}/src/content/pages/${entry.slug}.md`}
          target="_blank"
          rel="noopener noreferrer">
          <i class="fa-light fa-pen-to-square"></i>
          <span class="pl-1">Edit this page in GitHub</span>
        </a>
      </main>
    </div>
  </Container>
</Layout>
